# Docker Compose Project Name (used to prefix containers, networks, and volumes)
COMPOSE_PROJECT_NAME=csit_n8n

# Timezone settings
TZ=Asia/Bangkok
GENERIC_TIMEZONE=Asia/Bangkok

# n8n External and Webhook URLs
N8N_PORT=5678
N8N_HOST=localhost
N8N_PROTOCOL=http
WEBHOOK_URL=http://localhost:5678/
N8N_EDITOR_BASE_URL=http://localhost:5678/
N8N_SECURE_COOKIE=false

# n8n Encryption Key (Unique key to encrypt credentials in n8n database)
N8N_ENCRYPTION_KEY=csit_n8n_workshop_secret_key_2026_xyz123

# Database (PostgreSQL with pgvector)
POSTGRES_PORT=5432
POSTGRES_USER=n8n
POSTGRES_PASSWORD=n8npass
POSTGRES_DB=n8n

# pgAdmin (Postgres Web UI) Credentials
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@workshop.local
PGADMIN_DEFAULT_PASSWORD=adminpass
